/* 

        TO-DO LIST 

*/

body{
        background-color: rgb(0, 255, 64);
}

.my-container{
        margin: 0 auto;
        width: 50%;
}

button {
        border: none;
        cursor: pointer;
}
.completed {
        
        color:red;
        background-color: red;
}
.colortext{
        color:white;
}