/* 

        TO-DO LIST 

*/

body{
        background-color: rgb(0, 255, 64);
}

.my-container{
        margin: 0 auto;
        width: 50%;
}
.border-app{
        border: none;
        cursor: pointer;
}
.button-remove {
        background-color: rgba(128, 43, 226, 0.103);
        border: none;
        cursor: pointer;
        color: black;
        
}
.completed {
        
        color:white;
        background-color: red;
}
.colortext{
        color:white;
}
li{
        color: white;
        background-color: rgba(10, 248, 2, 0.644);
}
